/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.App-header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #1DB954;
}

a {
  color: #1DB954;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #1DB954;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  display: inline-block;
  margin-top: 20px;
}

a:hover {
  background-color: #1DB954;
  color: #fff;
}

button {
  padding: 10px 20px;
  background-color: #1DB954;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #148a3d;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 10px;
}

.artist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artist {
  width: calc(33.33% - 20px);
  margin: 0 0 20px;
  background-color: #191414;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.artist-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.artist-info p {
  margin: 5px 0;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #1DB954;
}

.track-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.track {
  width: calc(33.33% - 20px);
  margin: 0 0 20px;
  background-color: #191414;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.track-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.track-info p {
  margin: 5px 0;
}

.no-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b3b3b3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
